server:
  port: 8082
logging:
  level: debug
spring:
  application:
    name: monitor
  boot:
    admin:
      routes:
        endpoints: env,metrics,dump,jolokia,info,configprops,trace,logfile,refresh,flyway,liquibase,heapdump,loggers,auditevents,hystrix.stream
#      url: http://localhost:${server.port}
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:1111/eureka/
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 2      #心跳
    lease-expiration-duration-in-seconds: 6  #服务失效时间
#endpoints:
#  health:
#    sensitive: false
management:
  security:
    enabled: false
info:
  version: ${project.version}

